<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ZooManagement</display-name>
  <servlet>
    <servlet-name>CheckLogin</servlet-name>
    <servlet-class>controller.CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLogin</servlet-name>
    <url-pattern>/checklogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnimalMain</servlet-name>
    <servlet-class>controller.AnimalMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalMain</servlet-name>
    <url-pattern>/animal-management</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeMain</servlet-name>
    <servlet-class>controller.EmployeeMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeMain</servlet-name>
    <url-pattern>/employee-management</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePass</servlet-name>
    <servlet-class>controller.ChangePassUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePass</servlet-name>
    <url-pattern>/change-pass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowInfoUser</servlet-name>
    <servlet-class>controller.ShowInfoUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInfoUser</servlet-name>
    <url-pattern>/info-user</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>checklogin</welcome-file>
  </welcome-file-list>
</web-app>